.main{
    max-width: 80rem;
    margin: 0 auto;
}
.form-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    margin-top: 5rem;
}
.form-buttons button{
    background-color: var(--light_green);
    color: var(--white);
    padding: 1rem 5rem;
    font-size: 2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}
.form-buttons button:hover, .form-buttons button.active{
    background-color: var(--dark_green);
}
.form{
    max-width: 80rem;
    margin: 0 auto;
}