:root{
    --dark_green: #276749; 
    --light_green: #81C784;
    --beige: #F9EBC8;
    --marroon: #6B4E31;
    --blue_sky: #87CEEB;

    --black: #000;
    --white: #fff;

    color: var(--black);
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.8rem;
    height: 100vh;
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}
::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}